* {
  margin: 0;
  padding: 0;
}
.body {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6RFG2XiJeOcklYS7gC2xj82ghlGRxRLg0BA&usqp=CAU);
  background-size: 200%;
  background-position: -400px 0px;
  height: auto;
}
div.main {
  width: 400px;
  margin: 100px auto 0px auto;
}
h2 {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}
div.register {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  color: #fff;
}
