<div class="body">
  <div class="main">
    <div class="register">
      <h2>Add Student Here</h2>
      <form id="register" [formGroup]="myForm" (ngSubmit)="insert()">
        <label>Enter Name : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter Your Name "
          formControlName="name"
        />
        <br />
        <label>Enter avatar : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter Image "
          formControlName="avatar"
        />
        <br />
        <label>Enter department : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter department "
          formControlName="department"
        />
        <br />
        <label>Enter roll_no : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter roll_no "
          formControlName="roll_no"
        />
        <br />
        <label>Enter city : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter city "
          formControlName="city"
        />
        <br />
        <label>Enter username : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter username "
          formControlName="username"
        />
        <br />
        <label>Enter password : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter password "
          formControlName="password"
        />
        <br />
        <br />
        <input type="submit" [value]="btnName" id="submit" />
      </form>
    </div>
  </div>
</div>
