<div class="body">
  <div class="main">
    <div class="register">
      <h2>Add Student Here</h2>
      <div class="id" method="post">
        <label>Enter Name : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter Your Name "
        />
        <br />
        <label>Enter avatar : </label>
        <br />
        <input type="text" name="fname" id="name" placeholder="Enter Image " />
        <br />
        <label>Enter department : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter department "
        />
        <br />
        <label>Enter roll_no : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter roll_no "
        />
        <br />
        <label>Enter city : </label>
        <br />
        <input type="text" name="fname" id="name" placeholder="Enter city " />
        <br />
        <label>Enter username : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter username "
        />
        <br />
        <label>Enter password : </label>
        <br />
        <input
          type="text"
          name="fname"
          id="name"
          placeholder="Enter password "
        />
        <br />
        <br />
        <input type="submit" value="submit" name="submit" id="submit" />
      </div>
    </div>
  </div>
</div>
