<!-- <nav class="nav nav-pills flex-column flex-sm-row">
  <a
    class="flex-sm-fill text-sm-center nav-link"
    aria-current="page"
    routerLink="/"
    >Home</a
  >
  <a
    class="flex-sm-fill text-sm-center nav-link"
    aria-current="page"
    routerLink="/students"
    >Student</a
  >
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="#">Faculty</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="#">Product</a>
</nav> -->
<div class="nav">
  <a
    class="flex-sm-fill text-sm-center nav-link item"
    aria-current="page"
    routerLink="/"
    >Home</a
  >
  <a
    class="flex-sm-fill text-sm-center nav-link item"
    aria-current="page"
    routerLink="/students"
    >Student</a
  >
</div>
