<!-- <div>
    <h1> {{title}} </h1>
    <p> 
      Example of Interpolation
    </p>
    <p>
      Lower Case : {{name | lowercase }}<br/>
      Upper Case : {{name | uppercase }}<br/>
      Title Case : {{name | titlecase }}<br/>
      Slice : {{name | slice : 4}}<br/>
      Slice(SubString) : {{name | slice : 4 : 8}}
    </p>
    <p>
      Number 5.67 : {{ 5.67 | number : "1.2-3"}}<br/>
      Number 5.67 : {{ 5.67 | number : "3.1-1"}}<br/>
      Number 5.67 : {{ 5.67 | number : "2.4-5"}}<br/>
      Percent 0.08 : {{ 0.08 | percent }}<br/>
      Currency 500 : {{ 500 | currency }}<br/>
      Currency 500 : {{ 500 | currency : "INR" }}
    </p>
  </div> -->
  <h1> {{name}} </h1>
<input type="text" [(ngModel)]="name" />